html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.0em;
}

h4 {
    font-size: 0.8em;
}

h5 {
    font-size: 0.6em;
}

h6 {
    font-size: 0.4em;
}

h1, h2, h3, h4, h5, h6 {
    /*padding-bottom: 5px;*/
}

strong, b, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

blockquote {
    font-style: italic;
    opacity: 0.6;
    border-left: 3px solid #FAFAFA;
    padding-left: 16px;
}

code {
    background  : #FAFAFA;
    color       : #2980b9;
    padding     : 2px; border-radius: 3px;
    padding-left: 6px; padding-right: 6px;
    font-family : monospace;
    font-size   : 0.8em;
}

pre {
    background: #292824 !important;
    padding: 10px; border-radius: 3px;
    font-family: monospace;
    overflow-x: scroll;
}

pre > code {
    padding: 0 !important; margin: 0 !important;
    background: none;
    color: #FFF;
}

pre code, pre code * {
    font-size: 16px !important;
    font-family: monospace !important;
}

pre.math {
  background: transparent !important;
  text-align: center;
  padding-top: 20px; padding-bottom: 20px;
}

code.math {
  background: transparent !important;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 700px;
    border-radius: 3px;
}

html, body {
    margin: 0; padding: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    max-width : 700px;
    height    : auto;
    margin    : 0 auto;
    padding   : 0 20px;
}

.row {
    display: flex;
    -moz-display: flex;
    -webkit-display: flex;
}

.container a {
    color: #2980b9;
}

.header {
    background-color: #26293a;
    color           : #FFF;
    font-size       : 16px;
    font-weight     : bold;
    padding         : 30px 0;
    position        : relative;
}

.header .avatar > a {
    border-radius: 100%;
    display      : inline-block;
    margin-right: 15px;
    overflow     : hidden;
    height       : 50px;
    width        : 50px;
}

.header .avatar img {
    width: 100%;
}
.avatar .info .name {
    margin: 0;
}
.avatar .info .name a {
    color      : white;
    display    : inline-block;
    font-size  : 18px;
    font-weight: 700;
    margin     : 0 0 5px;
}

.avatar .info p {
    margin: 0;
}

.large-image {
    margin-left: calc(-1 * ((50vw - 50%)));
    max-width: 96vw;
    transform: translateX(calc(50vw - 50%));
}

.footer {
    text-align: center;
    background-color: #3498db;
    padding: 30px;
}

.footer p, .footer p > * {
    font-size: 12px;
    color: #ecf0f1;
}

.footer p a {
    font-weight: bold;
}

.footer .social {
    text-align: center;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    -moz-display: flex;
    -webkit-display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
